<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
      * {
        font-family: 'Public Sans';
      }
    </style>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="#" class="is-size-3 is-family-secondary navbar-item">🚀freya</a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="" class="navbar-item"> Dashboard </a>

            <a href="" class="navbar-item"> Profile </a>

            <a href="" class="navbar-item"> Notifications </a>

            <a href="" class="navbar-item"> Help </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="index.html" class="button is-danger"> Log Out </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br />
      <div class="container">
        <div class="columns">
          <div class="column is-one-fifth">
            <aside class="menu">
              <p class="menu-label is-size-6">
                <strong>Alumni</strong>
              </p>
              <ul class="menu-list">
                <a href="../connect/connect.html"><li>Alumni Connect</li></a>
                <a href="../search/search.html"><li>Alumni Search</li></a>
              </ul>
              <p class="menu-label is-size-6">
                <strong>Compete</strong>
              </p>
              <ul class="menu-list">
                <a href="../contests/contests.html">
                  <li>Contests</li>
                </a>
                <a href="../jobs/jobs.html">
                  <li>Job Listings</li>
                </a>
              </ul>
              <p class="menu-label is-size-6">
                <strong>Interact</strong>
              </p>
              <ul class="menu-list">
                <a href="../social/social.html">
                  <li>Message Board</li>
                </a>
              </ul>
              <p class="menu-label is-size-6">
                <strong>Profile</strong>
              </p>
              <ul class="menu-list">
                <a href="../profile/profile.html"><li>View Profile</li></a>
                <a href="../profile/edit-profile.html"><li>Edit Profile</li></a>
              </ul>
            </aside>
          </div>
          <div class="column search-content">
            <section class="hero is-success welcome is-small">
              <div class="hero-body">
                <div class="container">
                  <h1 class="is-size-1 is-family-secondary">Edit Profile.</h1>
                  <h2 class="subtitle">
                    Edit your personal details (Only Name, Email and Gender can be changed)
                  </h2>
                </div>
              </div>
            </section>
            <br />
            <div class="columns">
              <div class="column is-half">
                <div class="media">
                  <div class="media-content">
                    <div class="content is-size-5 is-family-monospace">
                      <div class="media">
                        <div class="media-left has-text-weight-bold">💂 Name:</div>
                        <div class="media-content">
                          <input class="input is-small" type="text" placeholder="John Doe" />
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left has-text-weight-bold">📧 Registered Email:</div>
                        <div class="media-content">
                          <input
                            class="input is-small"
                            type="email"
                            placeholder="john.doe@gmail.com"
                          />
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left has-text-weight-bold">🏳️‍🌈 Gender:</div>
                        <div class="media-content">
                          <input class="input is-small" type="text" placeholder="Male" />
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left has-text-weight-bold">📍 Roll Number:</div>
                        <div class="media-content">CB.EN.U4CSE17451</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <div class="media">
                  <div class="media-content">
                    <div class="content is-size-5 is-family-monospace">
                      <div class="media">
                        <div class="media-left has-text-weight-bold">🆔 Alumni ID:</div>
                        <div class="media-content">923</div>
                      </div>
                      <div class="media">
                        <div class="media-left has-text-weight-bold">🌍 Year of Joining:</div>
                        <div class="media-content">2016</div>
                      </div>
                      <div class="media">
                        <div class="media-left has-text-weight-bold">🚖 Year of Leaving:</div>
                        <div class="media-content">2020</div>
                      </div>
                      <div class="media">
                        <div class="media-left has-text-weight-bold">🌟 Campus:</div>
                        <div class="media-content">Coimbatore</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="columns is-centered">
              <button class="button is-medium is-danger is-rounded">Edit Profile ✔️</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
