<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
      * {
        font-family: 'Public Sans';
      }
    </style>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="#" class="is-size-3 is-family-secondary navbar-item">🚀freya</a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="" class="navbar-item"> Dashboard </a>

            <a href="" class="navbar-item"> Profile </a>

            <a href="" class="navbar-item"> Notifications </a>

            <a href="" class="navbar-item"> Help </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="index.html" class="button is-danger"> Log Out </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br />
      <div class="container">
        <div class="columns">
          <div class="column is-one-fifth">
            <aside class="menu">
              <p class="menu-label is-size-6">
                <strong>Alumni</strong>
              </p>
              <ul class="menu-list">
                <li @click="sAttendanceX"><a>Search</a></li>
                <!--<li @click="reportsX"><a>Reports</a></li>-->
                <li><a>Alumni Reports</a></li>
                <li><a>Achievements</a></li>
                <li><a href="">Academic Progress</a></li>
              </ul>
              <p class="menu-label is-size-6">
                <strong>Profile</strong>
              </p>
              <ul class="menu-list">
                <a href="profile/profile.html"><li @click="fAttendanceX">View Profile</li></a>
                <li><a href="">Edit Profile</a></li>
              </ul>
            </aside>
          </div>
          <!-- <div class="loader-box column">
            <section class="hero">
              <h1 class="title has-text-centered">Loading...</h1>
            </section>
          </div> -->
          <div class="column contest-content">
            <section class="hero is-link welcome is-small">
              <div class="hero-body">
                <div class="container">
                  <h1 class="is-size-1 is-family-secondary">Contests.</h1>
                  <h2 class="subtitle">Compete with the best in the world!</h2>
                </div>
              </div>
            </section>
            <br />
            <section class="contests columns is-multiline">
              <div class="card">
                <div class="card-content">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Event Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th>Event Link</th>
                      </tr>
                    </thead>
                    <tbody class="contests-tbody"></tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script src="contests.js"></script>
  </body>
</html>
